.login-box {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    background: #fff;
    border-radius: 10px;
}

.text-theme {
    color: #1977cc;
}

.btn-login {
    background: #1977cc;
    border: 0;
    padding: 12px 35px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
    width: 100%;
    font-weight: 600;
}

.btn-login:hover {
    background: #1c84e3;
    color: #fff;
}
